.addButton {

    border-radius: 50%;
    border: none;
    background-color: white;


}

.addButton > i {
    color: black;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;

}
.mat-form-field-wrapper{
    padding-right: 40px !important;
}

