<div class="main-content">
    <div class="container-fluid">
        <div class="container">
            <div class="item punk">

                <button (click)="agregaRequerimiento()" class="addButton"><i class="fas fa-plus"></i></button>

            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Mis requerimientos</h4>
                        <p class="card-category"> Lista de requerimientos realizidas por este almacen</p>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Codigo de Requerimiento
                                </th>
                                <th>
                                    Empleado
                                </th>

                                <th>
                                    Fecha de emision
                                </th>
                                <th>
                                    Tipo de Requerimiento
                                </th>
                                <th>
                                    Estado de requerimiento
                                </th>
                                <th>
                                    Detalles
                                </th>
                                <th>
                                    Editar

                                </th>
                                <th>
                                    Eliminar
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let dat of datos;">
                                    <td>
                                        {{dat.codigo}}

                                    </td>
                                    <td>
                                        {{dat.empleado}}

                                    </td>

                                    <td>
                                        {{dat.fechaEmision}}

                                    </td>
                                    <td>
                                        {{dat.tipoRequerimiento}}
                                    </td>
                                    <td class="text-primary">
                                        {{dat.estadoRequerimiento}}
                                    </td>
                                    <td>
                                        <i (click)="editarRequerimiento('detalles',dat.codigo,dat.tipoRequerimiento)"
                                           class="fas fa-search"></i>

                                    </td>
                                    <td>

                                        <i (click)="verRequerimiento('editar',dat.codigo,dat.tipoRequerimiento)"
                                           class="fas fa-pencil-alt"></i>

                                    </td>

                                    <td>

                                        <i class="fas fa-trash-alt"></i>

                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" *ngIf="this.rol==1">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Peticiones de requerimientos</h4>
                        <p class="card-category"> Lista de requerimientos realizidas por este almacen</p>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Codigo de Requerimiento
                                </th>
                                <th>
                                    Remitente
                                </th>

                                <th>
                                    Fecha de emision
                                </th>
                                <th>
                                    Tipo de Requerimiento
                                </th>
                                <th>
                                    Estado de requerimiento
                                </th>
                                <th>
                                    Detalles
                                </th>
                                <th>
                                    Editar

                                </th>
                                <th>
                                    Eliminar
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let dat of data2">
                                    <td>
                                        {{dat.codigo}}

                                    </td>
                                    <td>
                                        {{dat.remitente}}

                                    </td>

                                    <td>
                                        {{dat.fechaEmision}}

                                    </td>
                                    <td>
                                        {{dat.tipoRequerimiento}}
                                    </td>
                                    <td class="text-primary">
                                        {{dat.estadoRequerimiento}}
                                    </td>
                                    <td>
                                        <i (click)="editarRequerimiento('detallesEditar',dat.codigo)"
                                           class="fas fa-search"></i>

                                    </td>
                                    <td>

                                        <i (click)="verRequerimiento('editar',dat.codigo)"
                                           class="fas fa-pencil-alt"></i>

                                    </td>

                                    <td>

                                        <i class="fas fa-trash-alt"></i>

                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
